{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>修改支出信息</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link href="{% static 'login/css/bootstrap/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'login/css/bootstrap/bootstrap-responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'login/css/bootstrap/bootstrap-overrides.css' %}" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/layout.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/elements.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/icons.css' %}" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/lib/font-awesome.css' %}" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static 'login/css/personal-info.css' %}" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

    <!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand">个人记账系统</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/index/">首页</a></li>
                    <li><a href="/income/">收入记账管理</a></li>
                    <li class="active"><a href="/pay/">支出记账管理</a></li>
                    <li><a href="/chart/">记账图表</a></li>
                    <li><a href="/personal/">个人中心</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- end navbar -->

	<!-- main container .wide-content is used for this layout without sidebar :)  -->
    <div class="content wide-content">
        <div class="container-fluid">
            <div class="settings-wrapper" id="pad-wrapper">
                <!-- avatar column -->
                <div class="span3 avatar-box">
                    <div class="personal-image">
                        <img src="{% static 'login/image/img/tx.png' %}" class="avatar img-circle" />
                    </div>
                </div>

                <!-- edit form column -->
                <div class="span7 personal-info">

                    <h5 class="personal-title">更改支出</h5>

                    <form method="post" action="/update_pay/?pId={{ reet.pId }}">
                        <div class="field-box">
                            {% csrf_token %}
                            <label>类型:</label>
                            <input class="span5 inline-input" type="text" name="pType" value="{{ reet.pType }}"  />
                        </div>
                        <div class="field-box">
                            <label>金&nbsp;&nbsp;&nbsp;&nbsp;额:</label>
                            <input class="span5 inline-input" type="text" name="pMoney" value="{{ reet.pMoney }}" />
                        </div>
                        <div class="field-box">
                            <label>备&nbsp;&nbsp;&nbsp;&nbsp;注:</label>
                            <input class="span5 inline-input" type="text" name="pRemark" value="{{ reet.pRemark }}" />
                        </div>
                        <div class="field-box">
                            <label>时    间:</label>
                            <input class="span5 inline-input" type="date"  name="pTime" value="{{ reet.pTime }}"/>
                        </div>
                        <div class="span6 field-box actions">
                            <input type="submit" class="btn-glow primary" value="保存信息" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->


	<!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'login/js/theme.js' %}"></script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>